<section id="experience">
    <div class="container">
        <section id="news" class="white-bg padding-top-bottom">
          <div class="container">
            <div class="timeline">
                <div class="date-title">
                    <h2><span>Experience</span></h2>
                </div>
                <div class="row"></div>
                <div class="col-sm-6 news-item">
                    <div class="news-content">
                        @for (item of myExperince; track item) 
                        {
                            <h2 class="news-title">{{item.company}}</h2> 
                            <span>{{item.position}}</span>
                            <p>{{item.date}}</p>
                            <p>{{item.description}}</p>
                            <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                        }
                        
                    </div>
                </div>

                <!-- <div class="col-sm-6 news-item">
                    <div class="news-content">
                        <h2 class="news-title">{{myExperince.company2}}</h2> 
                        <span>{{myExperince.position2}}</span>
                        <p>{{myExperince.date2}}</p>
                        <p>{{myExperince.description2}}</p>
                        <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                    </div>
                </div> -->
                
                <!-- <div class="col-sm-6 news-item right">
                    <div class="news-content">
                        <h2 class="news-title">{{myExperince.company3}}</h2> 
                        <span>{{myExperince.position3}}</span>
                        <p>{{myExperince.date3}}</p>
                        <p>{{myExperince.description3}}</p>
                        <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                    </div>
                </div> -->
                <!-- <div class="col-sm-6 news-item">
                    <div class="news-content">
                        <h2 class="news-title">{{myExperince.company4}}</h2> 
                        <span>{{myExperince.position4}}</span> 
                        <p>{{myExperince.date4}}</p>
                        <p>{{myExperince.description4}}</p>
                        <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                    </div>
                </div> -->
                <!-- <div class="col-sm-6 news-item right">
                    <div class="news-content">
                        <h2 class="news-title">{{myExperince.company5}}</h2> 
                        <span>{{myExperince.position5}}</span>
                        <p>{{myExperince.date5}}</p>
                        <p>{{myExperince.description5}}</p>
                        <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                    </div>
                </div> -->

                <!-- <div class="col-sm-6 news-item right">
                    <div class="news-content">
                        <h2 class="news-title">{{myExperince.company6}}</h2> 
                        <span>{{myExperince.position6}}</span>
                        <p>{{myExperince.date6}}</p>
                        <p>{{myExperince.description6}}</p>
                        <a class="read-more" href="Desktop/CV/Mfon_Essien_OTUNG _CV.pdf" target="_blank" download>More Details</a>
                    </div>
              </div> -->
            </div>
          </div>
      </section>
    </div>				                                                      
  </section>