<section id="aboutUs">
    <div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
      <div class="container">
        <h2>{{aboutMe.title}}</h2>
          <div class="inner_section">
            <div class="row">
              <div class="col-md-6"> <img class="img-responsive" src={{aboutMe.image}} align=""> </div>
                <div class="col-md-6">
                  <p>{{aboutMe.description1}}</p> 
           
                  <p>{{aboutMe.description2}}</p>
                </div>
              </div>
          </div> 
      </div>
    </div>
  </section>